body{
  text-align: center;
  font-family: Helvetica;
}

.heading {
  background-image: url("../the-flatiron-building.png");
}

.heading h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}

a{
  font-size: 18px;
  color: white;
}
