body{
  text-align: center;
  font-family: Helvetica;
}

.heading {
  background-image: url("../the-flatiron-building.png");
}

.heading h1{
  font-size: 70px;
  font-weight: bold;
}

a{
  font-size: 18px;
  color: white;
}

.process{
  font-size: 32px;
  font-weight: bold;
}

.process-section{
  font-size: 23px;
  font-weight: bold;
}

.white{
  color: white;
}

.bottom-nav{
  font-size: 11px;
  background-color: dimgray;
  text-align: left;
}
